{% extends 'app_pages\basemain.html' %}

{% block 'main' %}
{% load static %}
 <!--Start Main of cart-->
 <div class="row mt-5 ">
    <div class="col-md-9 bg-custom">
      <h5 class="bg-danger text-white p-2 rounded">{{text}}</h5>
      <p><b>Name:</b>&nbsp;&nbsp;&nbsp;{{user}}</p>
      <p><b>Email:</b>&nbsp;&nbsp;&nbsp;{{user}}</p>
      
      {% for x in data %}
      <div class="row">
          <div class="col-md-4">
            <img src="{{x.pid.pimage.url}}" width="75%" alt="">
          </div>
          <div class="col-md-8">
            <p><b>Product Name:</b>&nbsp;&nbsp;&nbsp;{{x.pid.name}}</p>
            <p><b>Price:</b>&nbsp;&nbsp;&nbsp;{{x.pid.price}}</p>
            <p><b>Category:</b>&nbsp;&nbsp;&nbsp;{{x.pid.category}}</p>
            <p><b>Product Details:</b>&nbsp;&nbsp;&nbsp;{{x.pid.pdetails}}</p>
            <p><b>Quantity Ordered</b>&nbsp;&nbsp;&nbsp;{{x.qty}}</p>
            <p><b>Order ID:</b>&nbsp;&nbsp;&nbsp;{{x.order_id}}</p>
            <a href="/shop"><button class="btn btn-danger">Shop more!!!</button></a>
          </div>
      </div>
      {% endfor %}
     
    </div>
 </div>
    
  
  
   <!--End Main of cart-->
{% endblock 'main' %}
