{% load static %}
 
 <!--Start Footer -->
 <div class="row mt-5  p-3" style="color:white">
    <!--Col1-->
    <div class="col-md-4 " style="color:white">
        
    </div>
    <!--Col2-->
    <div class="col-md-4 " style="color:white">
        <h5>Quick Links</h5>
        <hr>
        <a href="/intro" style="color:white">Home&nbsp;</a>
        <a href="/about" style="color:white">About&nbsp;</a>
       <a href="/contactUs" style="color:white">Contact&nbsp;</a>
    </div>
    <!--Col3-->
    <div class="col-md-4">
        <h5>Connect Us</h5>
        <hr>
        <a href="https://www.facebook.com/"><i class="bi bi-facebook text-white"></i></a> 
        <a href="https://www.instagram.com/"><i class="bi bi-instagram text-white"></i></a>
        <a href="https://www.twitter.com/"><i class="bi bi-twitter text-white"></i></a> 
    </div>
</div>
<!--End Footer-->
    <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>
