{% extends 'intro\base1.html' %}

{% block 'main' %}
{% load static %}
<!--Start Main of login-->
<div class="row">
    <div class="col-5"></div>
    <div class="col-5 shadow-lg mt-5 p-4 mx-auto bg-body-rgb bg-opacity-50" style="color:white">
        <h2 class="text-center">Login</h2>

            <form action="/login/" method="POST">
                {% csrf_token %}
                {% if data %}
                    <div class="alert alert-danger">{{data}}</div>
                {% endif %}
                <div class="mb-3">
                    <label for="input1" class="fom-label">Username:</label>
                    <input type="email" name="uname" class="form-control" id="input1" placeholder="Enter username/email"> 
                </div>
                <div class="mb-3">
                    <label for="input2" class="fom-label">Password:</label>
                    <input type="password" name="upass" class="form-control" id="input2" placeholder="Enter password"> 
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-danger" style="color:white" value="Login">
                    
                    <br>New user??? <button class="btn btn-sm btn-danger" type="button"><a style="text-decoration:none; color:white" href="/register"> Signup</a></button>
                </div>
            </form>
    </div>
  </div>
   <!--End Main of login-->

{% endblock 'main' %}