{% extends 'intro\base1.html' %}

{% block 'main' %}
{% load static %}
<!--Start Main of about-->
<div class="row">
    <div class="col-5"></div>
    <div class="col-6 shadow mt-5 p-4 mx-auto" style=" color:azure">
        <h3>About Us</h3>
        <p>NotaDay is an innovative web application that helps you to track everything you do! This application provides you the tools to 
            <ul>
          <li>Set some constraints on social media, apps, and online distractions.</li> 
          <li>Manage time on tasks, then validate time spent.</li> 
          <li>Generate a report showing where we spend our time on tasks.</li>
          <li>Make it easy for users to manage todo lists, track time and set constraints in one place.</li>
          <li>Add the ability to prioritize tasks via deadline.</li>
          <li>Make a budget plan and manage money spent on various categories.</li>
          

           </ul>
        </p>
    </div>
  </div>

   <!--End Main of about-->

{% endblock 'main' %}