{% extends 'intro\base1.html' %}

{% block 'main' %}
{% load static %}
<!--Start Main of features-->
<div class="row">
    <div class="col-5"></div>
    <div class="col-6 shadow mt-5 p-4 mx-auto" style="color:white">
        <h3>Features</h3>
        <p>NotaDay is an innovative web application that helps you to track everything you do! Below are the features of Notaday!!!
            <ul>
          <li>ToDo - Helps you list out the things you wanted to do</li> 
          <li>Calorie - Want to keep track of your calorie intake? Here's your app!!!</li>
          
          <li>Notes - Helps you have your important notes safe and secure</li>
          <li>We sell our merchandise to support the needy people... Have a look at it!!!<a style="text-decoration: underline !important;
            color: wheat !important;" href="\shop">Click here</a></li>
          

           </ul>
        </p>
    </div>
  </div>

   <!--End Main of features-->
{% endblock 'main' %}